body {
  margin: 0;
  font-family: 'Avenir Next', 'Segoe UI', sans-serif;
  color: #14243d;
  background: #f4f8fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
